@{
    ViewData["Title"] = "Complex Calc";
}
<h1>@ViewData["Title"] </h1>

<p>This is the place where you can make operations with complex numbers</p>

<div class="text-center">

    <form asp-controller="" asp-action="" method="post">
        <div>
            <input type="number"
                   name="ImaginaryElement"
                   placeholder="Input Imaginary element"></>
            
            <input type="number"
                   name="RealElement"
                   placeholder="Input Real element"></><br/>

            <button id="AddButton" type="button" name="" >+</button>
            <button id="SubtractButton" type="button" name="" onclick="">-</button><br/>
            <button id="MultiplyButton"type="button" name="" onclick="">*</button>
            <button id="DivideButton" type="button" name="" onclick="">/</button><br/>
            <output name="Result"  ></output><br/>
            <button id="SubmittButton" type="submit" onclick="">=</button><br/>
            <button id="ConvertButton" type="button" onclick="">Conversion</button>
            

        </div>
    </form>
</div>